body {
    margin: 0px;
    overflow: hidden;
}

.bg {
    stroke: #0081b9;
    fill: #18447c;
    stroke-width: 15px;
    transition: all 400ms;
    transform-origin:center;
    x:calc(50vw - 25vh);
    y:25vh;
    width:50vh;
    height:50vh;
}

.o {
    transition: all 400ms;
    transform-origin: center;
    stroke: #e84516;
    stroke-width: 15;
    fill:none;
    cx:50vw;
    cy:50vh;
    r:8vh;
}

.p {
    x:calc(50vw - 8vh);
    y:46vh;
    stroke-width: 9;
    circle {
        cx:calc(50vw - 4vh);
        cy:50vh;
        r:3vh;
        fill:none;
    }
}

.u {
    x:calc(50vw + 2vh);
    y:46vh;
    fill:transparent;
    stroke-width: 9;
}


.hidden {
    stroke:none;
    fill:none;
    font-family:'Century Gothic';
    font-size:7em;
    transition:all 400ms;
}

.logo:hover .bg{
    fill: #f4f4f5;
    stroke: #e8451c;
    stroke-width: 10;
    transform:scale(1.15);
} 
.logo:hover .o {
    cx:calc(50vw - 12vh);
    r:3vh;
    stroke-width: 9;
}
.logo:hover .p {
    stroke:#e8451c;
    fill:#e8451c;
}
.logo:hover .u {
    stroke:#e8451c;
    /* fill:#e8451c; */
}