body {
    margin: 0px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    
    .tick text {
        font-size: 2em;
    }
    .menu-container {
        position:fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-around;
    }
}